<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>


  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Password</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td><span>{{user.username}}</span></td>
        <td><span>{{user.email}}</span></td>
        <td><span>{{user.roles[0].name}} </span><span *ngIf="user.roles[1] != null">, {{user.roles[1].name}}</span>
        </td>
        <td><span>{{user.password}}</span></td>

      </tr>
    </tbody>
  </table>
</div>