.gradient-custom {
    /* fallback for old browsers */
    background: rgb(209, 154, 3);

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(80, 36, 11), rgb(209, 154, 3));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(54, 4, 3), rgb(177, 132, 7))
}