.main-container {
    background-image: url("/assets/weatherPage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#divWeatherMain {
    display: block;
    border-radius: 10px;
    font-size: larger;
    margin: auto;
    padding: 10px;
    width: 420px;
    height: 480px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(85, 160, 247) 0%, rgb(43, 105, 175) 75%, rgb(164, 219, 245) 100%);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#divWeatherMain .row {
    margin: 12px;
}

.weatherWidgetRow {
    display: block;
    margin: 0 auto;
    width: fit-content;
}