<div id="divWeatherMain">
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">Location Name: {{weather?.name}}</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">Current Temperature: {{weather?.main.temp}}°</div>
	<div class="weatherWidgetRow" style="font-size: 12px;">Feels Like: {{weather?.main.feels_like}}°</div>

    <!-- <div class="weatherWidgetRow" style="font-size: 12px;">Rain: {{weather?.minutely[0].precipitation}}mm</div> -->
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">Wind Speed: {{weather?.wind.speed}} km/h</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{weather?.main.humidity}}%</div>
	<div class="weatherWidgetRow" style="font-size: 18px;margin-top: 5px;">Sunrise: {{weather?.sys.sunrise*1000 | date:'H:m'}}</div>
	<div class="weatherWidgetRow" style="font-size: 18px;margin-top: 5px;">Sunset: {{weather?.sys.sunset*1000 | date:'H:m'}}</div>

</div>
<br>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
<div *ngFor="let location of locations" class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
       <div class="col">
		 <div class="card radius-10 border-start border-0 border-3 border-info">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div>
						<p class="mb-0 text-secondary">Total Orders</p>
						<h4 class="my-1 text-info">4805</h4>
						<p class="mb-0 font-13">+2.5% from last week</p>
					</div>
					<div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-shopping-cart"></i>
					</div>
				</div>
			</div>
		 </div>
	   </div>
	</div>
</div>