<div class="main-container" style="padding-top: 5%; padding-bottom: 5%;">

	<div id="divWeatherMain">
		<!--Current Location Weather Widget -->
		<div class="weatherWidgetRow" style="font-size: 32px; margin-bottom: 16px;">Current Location: {{weather?.name}}
		</div>


		<div class="row">
			<div class="col-md-6"><img src="../assets/hot.png">: <img *ngIf="weather?.main.temp < 5"
					src="../assets/snowflake.png"> {{weather?.main.temp | number: '1.0-0'}}°C </div>
			<div class="col-md-6"><img src="../assets/wind.png">: {{weather?.wind.speed | number: '1.0-0'}} km/h</div>
		</div>

		<div class="row">
			<div class="col-md-6"><img src="../assets/sunrise.png">: {{weather?.sys.sunrise * 1000 | date:'H:m'}}</div>
			<div class="col-md-6">Gusts: {{weather?.wind.gust | number: '1.0-0'}} km/h</div>

		</div>
		<div class="row">
			<div class="col-md-6"><img src="../assets/sunset.png">: {{weather?.sys.sunset * 1000 | date:'H:m'}}</div>
			<div class="col-md-6">Humidity: {{weather?.main.humidity}}%</div>

		</div>

		<div class="row">
			<div class="col-md-6">Feels Like: {{weather?.main.feels_like | number: '1.0-0'}}°C</div>
		</div>
		<div class="row">

			<div class="col-md-12">Description: The weather at {{weather?.name}} has
				{{weather?.weather[0].description}}.</div>
		</div>

		<div class="row">
			<div *ngIf="weather?.alerts != null" class="col-md-12" style="font-size: 20px;"><a id="weatherAlert">Weather
					Alert!</a> For {{weather?.name}} : {{weather?.alerts[0].description}}</div>

		</div>

	</div>
	<br>

</div><!--End of main container-->