<div class="container">



  <!--Search boxes for Failte Ireland API Function -->
  <div class="justify-content-center">
    <form class="form-inline my-2 my-lg-10">
      <input type="text" [(ngModel)]="searchWord" #key="ngModel" ngModel="Search" name="search"
        class="form-control mr-sm-2" placeholder="Search locations..." required>
      <button type="submit" (click)="searchAttractions(searchWord)">Activity</button>
      <button type="submit" (click)="searchByAddress(searchWord)">Title</button>
    </form>
  </div>



  <!--Successful addLocation Alert-->
  <div *ngIf="addSuccessAlert == true" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Saved to favourites!</strong> You have successfully saved this location to your favourites!
    <button type="button" (click)="clearAlert()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>



  <div class="row">
    <div class="col-lg-12">
      <div class="">
        <div class="table-responsive" id="main-container">

          <!--Table for results-->
          <table class="table project-list-table table-nowrap align-middle table-borderless">
            <thead>
              <tr>

                <th scope="col">Location Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <!-- <th scope="col">Geo Location</th> -->
                <th scope="col">Save</th>
              </tr>
            </thead>

            <!--NG for statement: API Locations Table-->
            <tbody *ngFor="let attraction of Attractions">

              <tr>
                <td><!--website embedded in title: Opens in new tab-->
                  <a href="{{attraction?.url}}" target="_blank" rel="noopener noreferrer"
                    class="text-body">{{attraction?.name}}</a>
                </td>
                <td><span class="badge badge-soft-success mb-0">{{attraction?.address.addressLocality}},
                    {{attraction?.address.addressRegion}}</span></td>

                <td>{{attraction?.telephone}}</td>
                <!-- <td>{{attraction?.geo.longitude}}, {{attraction?.geo.latitude}}</td> -->

                <td><!--Add to Favourites-->
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <a (click)="addLocationToFavourites(attraction)" data-toggle="modal" data-target="#exampleModal"
                        data-bs-placement="top" title="Save" class="px-2 text-primary"><i id="saveIcon"
                          class="bx bx-star font-size-18"></i></a>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>