.full{
    width: 100vw;
    height: 80vh;
}

/* #weatherModalBody{
    display: block;
    position: relative;
    border-radius: 10px;
    margin: auto;
    width: 400px;
    height: 440px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 75%, rgb(8, 10, 63) 100%);
    color: white;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */


#weatherModalBody{
    background-image: url("/assets/snowflake.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}