<router-outlet></router-outlet>

<!-- Map div to store custom google map -->
<div class="full" id="map">
</div>


<div class="container">

    <!-- Navbar to see how many locations and search the database -->
    <div class="row align-items-center" id="bottomnavbar">
        <div class="col-md-6">
            <div class="mb-3">
                <h5 class="card-title">Saved Locations <span class="text-muted fw-normal ms-2">{{arraySize}}</span></h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">

                <!--Add custom location button not working. Causing SQL issues due to -->
                <!-- <div>
                    <a (click)="onOpenModal(null, 'add')" data-bs-toggle="modal" data-bs-target=".add-new"
                        class="btn btn-secondary"><i class="bx bx-plus me-1"></i> Add New</a>
                </div> -->

                <form class="form-inline my-2 my-lg-0">
                    <input type="search" (ngModelChange)="searchLocations(key.value)" #key="ngModel" ngModel name="key"
                        id="searchName" class="form-control mr-sm-2" placeholder="Search locations..." required>
                </form>
            </div>
        </div>
    </div>

    <!--Location Rows-->
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive" id="main-container">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Location Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>

                        <!-- ngFor to iterate over location array and display information for each -->
                        <tbody *ngFor="let location of locations">
                            <tr>
                                <td><img (click)="onViewLocation(location)"
                                        src="https://cdn-icons-png.flaticon.com/512/1946/1946770.png" alt=""
                                        class="avatar-sm rounded-circle me-2" /><a href="{{location?.url}}"
                                        target="_blank" rel="noopener noreferrer"
                                        class="btn btn-info">{{location?.name}}</a></td>

                                <td><span class="badge badge-soft-success mb-0">{{location?.address.addressLocality}},
                                        {{location?.address.addressRegion}}</span></td>
                                <td>{{location?.telephone}}</td>
                                <td>
                                    <ul class="list-inline mb-0">

                                        <!--Zoom in on location on map-->
                                        <li class="list-inline-item">
                                            <a (click)="onViewLocation(location)" data-bs-placement="top" title="Save"
                                                class="px-2 text-primary"><i id="saveIcon"
                                                    class="bx bx-current-location font-size-18"></i></a>
                                        </li>

                                        <!-- View Weather Action -->
                                        <li class="list-inline-item">
                                            <a (click)="onOpenModal(location, 'weather')" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Weather" class="px-2 text-warning"><i
                                                    class="bx bx-sun font-size-18"></i></a>
                                        </li>

                                        <!--Delete Location Action-->
                                        <li class="list-inline-item">
                                            <a (click)="onOpenModal(location, 'delete')" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Delete" class="px-2 text-danger"><i
                                                    class="bx bx-trash-alt font-size-18"></i></a>
                                        </li>

                                    </ul>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Notification for no locations -->
    <div *ngIf="locations?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">No Favourites!</h4>
            <p>No favourite locations were found.</p>

        </div>
    </div>


    <!--Weather Modal-->
    <div class="modal fade" id="weatherModal" tabindex="-1" role="dialog" aria-labelledby="weatherModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="weatherTitle">Weather report for {{weatherLocation?.name}}</h3><br>
                    <h2 class="weatherHeader">{{currentDate | date:'EEE dd MMM yyyy'}}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!--Upper weather modal body-->
                <div class="modal-body" id="weatherModalBody">
                    <div class="upperWeatherBody">
                        <div class="row">
                            <div class="col-md-6"><img src="../assets/hot.png">: <img
                                    *ngIf="weatherData?.current.temp < 5" src="../assets/snowflake.png">
                                {{weatherData?.current.temp | number: '1.0-0'}}°C </div>
                            <div class="col-md-6"><img src="../assets/wind.png">: {{weatherData?.current.wind_speed |
                                number: '1.0-0'}} km/h</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Feels Like: {{weatherData?.current.feels_like | number: '1.0-0'}}°C
                            </div>
                            <div class="col-md-6"><img src="../assets/raining.png">:
                                {{weatherData?.minutely[0].precipitation}}mm</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><img src="../assets/sunrise.png">: {{weatherData?.current.sunrise *
                                1000 | date:'H:m'}}</div>
                            <div class="col-md-6">Humidity: {{weatherData?.current.humidity}}%</div>

                        </div>
                        <div class="row">
                            <div class="col-md-6"><img src="../assets/sunset.png">: {{weatherData?.current.sunset * 1000
                                | date:'H:m'}}</div>
                            <div class="col-md-6">Location: {{weatherLocation?.address.addressLocality}}</div>

                        </div>
                        <div class="row">

                            <div class="col-md-12">Description: The weather at {{weatherLocation?.name}} has
                                {{weatherData?.current.weather[0].description}}.</div>
                        </div>

                        <div class="row">
                            <div *ngIf="weatherData?.alerts != null" class="col-md-12" style="font-size: 20px;"><a
                                    id="weatherAlert">Weather Alert!</a> For {{weatherLocation?.name}} :
                                {{weatherData?.alerts[0].description}}</div>

                        </div>


                    </div><!--End up Upper Weather Body-->
                    <!--5 day forecast section-->
                    <h2 class="weatherHeaderForecast">5-day forecast</h2>
                    <div class="forecast">

                        <div class="col-8">
                            <div class="row"><img src="../assets/hot.png"></div>
                            <div class="row"><img src="../assets/wind.png"></div>
                            <div class="row"><img src="../assets/raining.png"></div>
                        </div>
                        <div class="col">
                            <div class="row">{{weatherData?.daily[1].temp.min | number:
                                '1.0-0'}}/{{weatherData?.daily[1].temp.max | number: '1.0-0'}}°C</div>
                            <div class="row">{{weatherData?.daily[1].wind_speed | number: '1.0-0'}} km/h</div>
                            <div class="row">{{weatherData?.daily[1].rain | number: '1.0-0'}} mm</div>
                        </div>
                        <div class="col">
                            <div class="row">{{weatherData?.daily[2].temp.min | number:
                                '1.0-0'}}/{{weatherData?.daily[1].temp.max | number: '1.0-0'}}°C</div>
                            <div class="row">{{weatherData?.daily[2].wind_speed | number: '1.0-0'}} km/h</div>
                            <div class="row">{{weatherData?.daily[2].rain | number: '1.0-0'}} mm</div>
                        </div>
                        <div class="col">
                            <div class="row">{{weatherData?.daily[3].temp.min | number:
                                '1.0-0'}}/{{weatherData?.daily[1].temp.max | number: '1.0-0'}}°C</div>
                            <div class="row">{{weatherData?.daily[3].wind_speed | number: '1.0-0'}} km/h</div>
                            <div class="row">{{weatherData?.daily[3].rain | number: '1.0-0'}} mm</div>
                        </div>
                        <div class="col">
                            <div class="row">{{weatherData?.daily[4].temp.min | number:
                                '1.0-0'}}/{{weatherData?.daily[1].temp.max | number: '1.0-0'}}°C</div>
                            <div class="row">{{weatherData?.daily[4].wind_speed | number: '1.0-0'}} km/h</div>
                            <div class="row">{{weatherData?.daily[4].rain | number: '1.0-0'}} mm</div>
                        </div>
                        <div class="col">
                            <div class="row">{{weatherData?.daily[5].temp.min | number:
                                '1.0-0'}}/{{weatherData?.daily[1].temp.max | number: '1.0-0'}}°C</div>
                            <div class="row">{{weatherData?.daily[5].wind_speed | number: '1.0-0'}} km/h</div>
                            <div class="row">{{weatherData?.daily[5].rain | number: '1.0-0'}} mm</div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div><!--End of weather modal-->




    <!-- Add Location Modal (Not functioning, causing database errors. ) -->
    <!-- <div class="modal fade" id="addLocationModal" tabindex="-1" role="dialog" aria-labelledby="addLocationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLocationModalLabel">Add Location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #addForm="ngForm" (ngSubmit)="onAddLocation(addForm)">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="url">URL</label>
                            <input type="text" ngModel name="url" class="form-control" id="url" placeholder="URL"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="tags">Tags</label>
                            <input type="text" ngModel name="tags" class="form-control" id="tags" placeholder="Tags"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="longitude">Longitude</label>
                            <input type="text" ngModel name="longitude" class="form-control" id="longitude"
                                placeholder="Longitude" required>
                        </div>
                        <div class="form-group">
                            <label for="latitude">Latitude</label>
                            <input type="text" ngModel name="latitude" class="form-control" id="latitude"
                                placeholder="Latitude" required>
                        </div>
                        <div class="form-group">
                            <label for="addressLocality">Town/Area</label>
                            <input type="text" ngModel name="addressLocality" class="form-control" id="addressLocality"
                                placeholder="addressLocality" required>
                        </div>
                        <div class="form-group">
                            <label for="addressRegion">County</label>
                            <input type="text" ngModel name="addressRegion" class="form-control" id="addressRegion"
                                placeholder="addressRegion" required>
                        </div>
                        <div class="form-group">
                            <label for="addressCountry">Country</label>
                            <input type="text" ngModel name="addressCountry" class="form-control" id="addressCountry"
                                placeholder="addressCountry" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="add-location-form" class="btn btn-secondary"
                                data-dismiss="modal">Close</button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save
                                changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteLocationModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete Location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete location {{deleteLocation?.name}}?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeleteLocation(deleteLocation?.id)" class="btn btn-danger"
                        data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>