.full {
    width: 100vw;
    height: 80vh;
}

#weatherModalBody {
    font-size: larger;
}

.upperWeatherBody .row {
    margin-top: 24px;
}

.forecast {
    display: grid;
    grid-template-columns: repeat(6, 5rem);
}

.h2 {
    grid-column: 1/-1;
    color: #272323;
    background-color: #ffb261;
}

.weatherHeader {
    color: #ffb261;
    background-color: #272323;
    padding: 16px;
    border-radius: 20%;
}

.weatherHeaderForecast {
    color: #ffb261;
    background-color: #272323;
    padding: 12px;

}

#weatherAlert {
    font-size: larger;
    background-color: black;
    color: red;
    border-radius: 5%;
    padding: 6px;
    margin: 6px;
    font-weight: 600;

}